.board-container {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.new-task-card {
  margin-bottom: 1.5rem;
  border-radius: 8px;
  padding: 8px;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.board {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 260px;
}

.column h3 {
  margin-bottom: 0.5rem;
}

.task-card {
  margin-bottom: 0.75rem;
}

.add-button {
    background-color: #200000;
    border: 1px;
    color: #fff;
}






/* priorities */
.priorities-radio-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.priority-radio {
  margin: 0 !important;
}

.priority-badge {
  padding: 6px 16px;
  border-radius: 16px;
  color: white;
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
  transition: all 0.2s;
}

.priority-radio:hover .priority-badge {
  opacity: 0.8;
  transform: translateY(-2px);
}

/* Quando o radio button estiver selecionado */
.mat-radio-button.mat-accent.mat-radio-checked .priority-badge {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
