<mat-toolbar color="primary">
  <span>TaskFlow</span>
</mat-toolbar>

<div class="board-container">

  <form [formGroup]="form">
    <mat-card class="new-task-card">
      <mat-card-title>Nova tarefa</mat-card-title>
      <mat-card-content>
        <div class="new-task-form mt-3">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descrição (opcional)</mat-label>
            <textarea matInput rows="3" formControlName="description"></textarea>
          </mat-form-field>

          <div style="text-align: center;">
            <button class="btn-primary" (click)="createTask()">
              Adicionar
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>

  <div class="board">
    <div class="column">
      <h3>To Do</h3>
      <ng-container *ngIf="tasks">
        <mat-card
          class="task-card p-2"
          *ngFor="let task of tasks">
          <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="task.createdAt">
            Criada em: {{ task.createdAt | date: 'short' }}
          </mat-card-subtitle>
          <mat-card-content>
            <p *ngIf="task.description">{{ task.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">
              In Progress
            </button>
            <button mat-button color="primary">  
              Editar                  
            </button>
            <button mat-button color="warn">
              Excluir
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>

    <div class="column">
      <h3>In Progress</h3>
      <ng-container *ngIf="tasks">
        <mat-card
          class="task-card p-2"
          *ngFor="let task of tasks"
        >
          <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-content>
            <p *ngIf="task.description">{{ task.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>
              Voltar para To Do
            </button>
            <button mat-button color="primary">
              Done
            </button>
            <button mat-button color="warn">
              Excluir
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>

    <div class="column">
      <h3>Done</h3>
      <ng-container *ngIf="tasks">
        <mat-card
          class="task-card p-2"
          *ngFor="let task of tasks"
        >
          <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-content>
            <p *ngIf="task.description">{{ task.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>
              Voltar para In Progress
            </button>
            <button mat-button color="warn">
              Excluir
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
