.board-container {
  padding: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.new-task-card {
  margin-bottom: 1.5rem;
  border-radius: 8px;
  padding: 8px;
}

.new-task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-width {
  width: 100%;
}

.board {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 260px;
}

.column h3 {
  margin-bottom: 0.5rem;
}

.task-card {
  margin-bottom: 0.75rem;
}

.add-button {
    background-color: #200000;
    border: 1px;
    color: #fff;
}
