/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.m-1 { margin: 4px; }
.mt-1 { margin-top: 4px; }
.mb-1 { margin-bottom: 4px; }
.p-1 { padding: 4px; }

.m-2 { margin: 8px; }
.mt-2 { margin-top: 8px; }
.mb-2 { margin-bottom: 8px; }
.p-2 { padding: 8px; }

.m-3 { margin: 16px; }
.mt-3 { margin-top: 16px; }
.mb-3 { margin-bottom: 16px; }
.p-3 { padding: 16px; }

.m-4 { margin: 24px; }
.mt-4 { margin-top: 24px; }
.mb-4 { margin-bottom: 24px; }
.p-4 { padding: 24px; }


body {
  background-color: #a3a3a3;
  color: #a8b2e9;
}

mat-card {
  background: #1b1f36 !important;
  color: #e0e0e0 !important;
}

mat-toolbar {
  background: #1b1f36 !important;
  color: #ffffff !important;
}

.btn-primary {
    color: #19191a !important;
    background-color: #c8d1fa !important;
    width: 100px !important;
    height: 30px !important;
    border-radius: 4px;
    border: 1px;
    box-shadow: none;
    padding: 8px;
}

.btn-primary:hover{
    background-color: #030366 !important;
    color: #c8d1fa !important;
    border: #c8d1fa !important
}